*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar starts here */
.navbar-wrapper{
    background-color: rgb(71, 85, 105);
}

.navbar-main{
border: 1px solid red;
display: flex;
justify-content: space-between;
max-width: 1200px;
background-color: rgb(71, 85, 105);
margin: 0 auto;
padding: 20px;
}

.nav-menu-btn{
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

/* navbar ends here */